<div>
    <div class="jumbotron jumbotron-fluid" style="background-image: url(assets/images/stack-of-newspapers-istock-bernie_photo.jpg)">
        <div class="container">
                <img src="assets/images/boston-globe-logo.jpg" alt="boston globe">
            </div>
        </div>
        <div style="background-image: url(assets/images/stack-of-newspapers-istock-bernie_photo.jpg)">
            <h1 style="color: crimson; font-size: 500%;" class="text-center">Extra! Extra!</h1>
            <h1 style="color: crimson; font-size: 500%;" class="text-center">Read All About It</h1>
            <div style="text-align:center">
                <button id="viewArticles">
                    <img src="assets/images/bapp-01.png" width=100 height=100>
                    View Boston Globe Headlines
                </button>
            </div>
        </div>
    </div>